<a href="#" class="list-group-item">
  <span class="task-check">
    <span class="fa fa-spinner fa-spin"
          *ngIf="processing"></span>
    <span class="fa"
          [ngClass]="{'fa-check-square-o': task.done, 'fa-square-o': !task.done}"
          (click)="toggleTaskStatus(task)"
          *ngIf="!processing"></span>
  </span>

  {{task.name}}

  <span class="task-delete pull-right" title="Delete Task" (click)="deleteTask(task)">
    <span class="fa fa-trash-o pull-right"></span>
  </span>
</a>
