.list-group-item {
  font-size: 1.1em;
}

.task-check {
  line-height: 1;
  vertical-align: middle;
  padding-right: 5px;
  background: none;
  font-size: 1.5em;
}

.task-check:hover {
  opacity: 0.8;
}

.task-check .fa-square-o {
  color: grey;
  padding-right: 3px;
}

.task-check .fa-check-square-o {
  color: #2196f3;
}
