<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">
    <i class="fa fa-rss" aria-hidden="true"></i> {{title}}
  </a>
</nav>

<div class="container">
  <div class="list-group">
    <a href="#" class="list-group-item active">
      &nbsp;
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">
        <span class="glyphicon glyphicon-ok"></span>
      </span>
      Buy milk
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">
        <span class="glyphicon glyphicon-ok"></span>
      </span>
      Clean the house
    </a>
    <a href="#" class="list-group-item">
      <span class="badge"></span>
      Go running
    </a>
    <a href="#" class="list-group-item">
      <span class="badge"></span>
      Pay landlord
    </a>
  </div>
</div>

