<app-navbar></app-navbar>

<div class="container">
  <div class="list-group">
    <a href="#" class="list-group-item active">
      &nbsp;
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">
        <span class="glyphicon glyphicon-ok"></span>
      </span>
      Buy milk
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">
        <span class="glyphicon glyphicon-ok"></span>
      </span>
      Clean the house
    </a>
    <a href="#" class="list-group-item">
      <span class="badge"></span>
      Go running
    </a>
    <a href="#" class="list-group-item">
      <span class="badge"></span>
      Pay landlord
    </a>
  </div>
</div>

